<launch4jConfig>
    <dontWrapJar>false</dontWrapJar>
    <headerType>gui</headerType>
    <jar>path/to/your/application.jar</jar>
    <outfile>path/to/output/application.exe</outfile>
    <errTitle></errTitle>
    <cmdLine></cmdLine>
    <chdir></chdir>
    <priority>normal</priority>
    <downloadUrl>http://java.com/download</downloadUrl>
    <supportUrl></supportUrl>
    <stayAlive>false</stayAlive>
    <manifest></manifest>
    <icon>path/to/your/application.ico</icon>
    <jre>
        <path></path>
        <minVersion>1.8.0</minVersion>
        <maxVersion></maxVersion>
        <jdkPreference>false</jdkPreference>
        <runtimeBits>64/32</runtimeBits>
    </jre>
    <splash></splash>
    <messages>
        <startupErr></startupErr>
        <title></title>
        <body></body>
    </messages>
</launch4jConfig>
